{
  "openapi": "3.0.3",
  "info": {
    "title": "Dome API",
    "description": "APIs for prediction markets.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.domeapi.io/v1/polymarket"
    }
  ],
  "paths": {
    "/market-price/{token_id}": {
      "get": {
        "summary": "Get Market Price",
        "description": "Fetches the current market price for a market by `token_id`. Allows historical lookups via the `at_time` query parameter.",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at_time",
            "in": "query",
            "required": false,
            "description": "Unix timestamp to fetch a historical market price.",
            "schema": {
              "type": "integer",
              "example": 1740000000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market price response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "price": { "type": "number", "example": 0.215 },
                    "at_time": { "type": "integer", "example": 1757008834 }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candlesticks/{condition_id}": {
      "get": {
        "summary": "Candlestick API",
        "description": "Fetches historical candlestick data for a market identified by `condition_id`, over a specified interval.",
        "parameters": [
          {
            "name": "condition_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "description": "Unix timestamp in ms" }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "description": "Unix timestamp in ms" }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [1, 60, 1440],
              "default": 1
            },
            "description": "Interval length: 1 = 1m, 60 = 1h, 1440 = 1d. Defaults to 1m."
          }
        ],
        "responses": {
          "200": {
            "description": "Candlestick response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candlesticks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "end_period_ts": { "type": "integer" },
                          "open_interest": { "type": "integer" },
                          "price": {
                            "type": "object",
                            "properties": {
                              "open": { "type": "number" },
                              "high": { "type": "number" },
                              "low": { "type": "number" },
                              "close": { "type": "number" }
                            }
                          },
                          "volume": { "type": "integer" }
                        }
                      }
                    },
                    "conditionId": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/pnl/{wallet_address}": {
      "get": {
        "summary": "Get Wallet PnL",
        "description": "Fetches the profit and loss (PnL) for a specific wallet address over a specified time range and granularity.",
        "parameters": [
          {
            "name": "wallet_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$",
              "example": "0x1234567890abcdef1234567890abcdef12345678"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year", "all"],
              "example": "day"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "unix_timestamp",
              "example": "1726857600"
            },
            "description": "Defaults to first day of first trade if not provided."
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "unix_timestamp",
              "example": "1758316829"
            },
            "description": "Defaults to the current date if not provided."
          }
        ],
        "responses": {
          "200": {
            "description": "PnL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "granularity": { "type": "string", "example": "day" },
                    "start_time": { "type": "number", "example": 1726857600 },
                    "end_time": { "type": "number", "example": 1758316829 },
                    "wallet_address": { "type": "string", "example": "0x7c3db723f1d4d8cb9c550095203b686cb11e5c6b" },
                    "pnl_over_time": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": { "type": "number", "example": 1726857600 },
                          "pnl_to_date": { "type": "number", "example": 2001 }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "BAD_REQUEST" },
                    "message": { "type": "string", "example": "Invalid or missing parameters." }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "INTERNAL_SERVER_ERROR" },
                    "message": { "type": "string", "example": "Internal Server Error. Dome Admins contacted." }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
