{
  "openapi": "3.0.3",
  "info": {
    "title": "Dome API",
    "description": "APIs for prediction markets.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "http://api.domeapi.io/v1/polymarket"
    }
  ],
  "paths": {
    "/market-price/{token_id}": {
      "get": {
        "summary": "Get Market Price",
        "description": "Fetches the current market price for a market by `token_id`. Allows historical lookups via the `at_time` query parameter.",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at_time",
            "in": "query",
            "required": false,
            "description": "Unix timestamp to fetch a historical market price.",
            "schema": {
              "type": "integer",
              "example": 1740000000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market price response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "price": { "type": "number", "example": 0.215 },
                    "at_time": { "type": "integer", "example": 1757008834 }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candlesticks/{condition_id}": {
      "get": {
        "summary": "Candlestick API",
        "description": "Fetches historical candlestick data for a market identified by `condition_id`, over a specified interval.",
        "parameters": [
          {
            "name": "condition_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "description": "Unix timestamp in ms" }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "description": "Unix timestamp in ms" }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [1, 60, 1440],
              "default": 1
            },
            "description": "Interval length: 1 = 1m, 60 = 1h, 1440 = 1d. Defaults to 1m."
          }
        ],
        "responses": {
          "200": {
            "description": "Candlestick response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candlesticks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "end_period_ts": { "type": "integer" },
                          "open_interest": { "type": "integer" },
                          "price": {
                            "type": "object",
                            "properties": {
                              "open": { "type": "number" },
                              "high": { "type": "number" },
                              "low": { "type": "number" },
                              "close": { "type": "number" }
                            }
                          },
                          "volume": { "type": "integer" }
                        }
                      }
                    },
                    "conditionId": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
