{
  "openapi": "3.0.3",
  "info": {
    "title": "Dome API",
    "description": "APIs for prediction markets.",
    "license": {
      "name": "MIT"
    },
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "http://api.domeapi.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/get-market-price": {
      "get": {
        "description": "Returns market price of a token id. Allows for optional historical lookup via the at_time query parameter.",
        "parameters": [
          {
            "in": "query",
            "name": "at_time",
            "schema": {
              "type": "string",
              "example": "1762164600"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP Status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "price": {
                      "type": "number",
                      "example": 0.995998997539415
                    },
                    "at_time": {
                      "type": "integer",
                      "example": 1762164600
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-candlestick": {
      "get": {
        "description": "Returns candlestick data for a given token or market.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candlestick response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candlestick"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store (webhook endpoint)",
        "requestBody": {
          "description": "Plant added to the store",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Candlestick": {
        "type": "object",
        "required": ["open", "high", "low", "close", "timestamp"],
        "properties": {
          "open": { "type": "number" },
          "high": { "type": "number" },
          "low": { "type": "number" },
          "close": { "type": "number" },
          "timestamp": {
            "type": "integer",
            "description": "UNIX timestamp in seconds"
          }
        }
      },
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          { "$ref": "#/components/schemas/Plant" },
          {
            "required": ["id"],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
